* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Gilroy";
}

html,
body {
  width: 100%;
  height: 100%;
}

.JoinPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.JoinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.JoinContainer > img {
  width: 10vmax;
}
.JoinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  text-align: center;
  padding: 1vmax;
  font-family: "Roboto";
  box-sizing: border-box;
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}
.joinbtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  color: white;
  font-family: "Roboto";
  outline: none;
  font-size: 1.2vmax;
  background-color: crimson;
  box-sizing: border-box;
  transition: all 0.3s;
  cursor: pointer;
}
.joinbtn:hover {
  background-color: rgb(180, 27, 58);
}

.chatPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  background-color: white;
  height: 60%;
  width: 50%;
}

.header {
  background-color: crimson;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header > h2 {
  font-size: 1.5vmax;
  color: white;
  margin: 2.5vmax;
}

.header img {
  margin: 2.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}
.header > img:hover {
  transform: scale(1.2);
}

.chatBox {
  height: 70%;
  box-sizing: border-box;
}

.inputBox {
  height: 15%;
  box-sizing: border-box;
  display: flex;
}

#chatInput {
  width: 80%;
  border: none;
  padding: 2vmax;
  box-sizing: border-box;
  background-color: white;
  outline: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vmax;
  border-top: 0.2vmax solid rgba(41, 41, 41, 0.562);
}

.sendBtn {
  background-color: crimson;
  color: white;
  border: none;
  width: 21%;
  transition: all 0.3s;
  cursor: pointer;
}

.sendBtn > img {
  width: 2.6vmax;
  filter: brightness(100) invert();
  transition: all 0.3s;
}
.sendBtn:hover {
  background-color: rgb(156, 13, 42);
}
.sendBtn:hover img {
  transform: translateX(10px);
}

.messageBox {
  padding: 1vmax;
  margin: 1vmax;
  border-radius: 0.5vmax;
  display: inline-block;
  clear: both;
  font-size: 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.right {
  float: right;
  background-color: crimson;
  color: white;
  text-align: right;
}

.left {
  float: left;
  text-align: left;
  background-color: rgb(196, 255, 184);
}

body {
  margin: 0;
}

@media (max-aspect-ratio: 7/10) {
  .JoinPage {
    display: flex;
    justify-content: center;
    align-items: flex-start !important;
  }
  .JoinContainer {
    margin-top: 30vw !important;
    width: 100% !important;
  }

  .JoinContainer > img {
    width: 30vw !important;
  }
  .JoinContainer > h1 {
    font-size: 6vw !important;
    width: 65vw !important;
    border-bottom: 0.6vw solid white !important;
    padding: 3vw !important;
  }

  #joinInput {
    width: 65vw !important;
    padding: 4vw !important;

    font-size: 5vw !important;
    margin: 5vw !important;
  }
  .joinbtn {
    width: 65vw !important;
    padding: 4vw !important;

    font-size: 5vw !important;
  }

  .chatContainer {
    background-color: white;
    height: 100% !important;
    width: 100% !important;
  }
  .header {
    height: 10% !important;
  }
  .header > h2 {
    margin: 8vw !important;
    font-size: 5vw !important;
  }

  .header img {
    margin: 6vw !important;
    transform: scale(2) !important;
  }
  .header > img:hover {
    transform: scale(3.2) !important;
  }
  .chatBox {
    height: 80% !important;
  }

  .inputBox {
    height: 10% !important;
  }
  #chatInput {
    padding: 4vw !important;
    font-size: 4vw !important;
  }
  .messageBox {
    padding: 3vw !important;
    margin: 3vw !important;
    border-radius: 1.5vw !important;
    font-size: 3.7vw !important;
  }
}
